html, body {
	height: 100%;
}

body {
	background-color: navy;
}

hr {
    height: 1px;
    background: #333;
    margin: 10px 0 10px 0;
}

h3 {
	font-size: 1.4em;
}

div.todos-notcompleted div.todo-title, div.todos-notcompleted div.todo-description {
	font-size: 1.3em;
}

div.todos-completed {
	margin: 0 1em;
}

div.todo-title {
	margin-left: 8px;
}

div.todo-description {
	margin-left: 20px;
}

form.form-create-todo {
	margin-top: 2em;
}

#todosNotCompleted {
	padding: 1em;
}

#todosCompleted {
	margin-top: 1em;
}

input.toggle-completed {
	float: left;
}

#page-content {
	margin-top: 1.5em;
	background-color: white;
	min-height: 95%;
	border-radius:10px;
}

header {
	margin-top: 1.2em;
}

.well {
	background-color: aliceblue;
}

header h1 {
	margin: 0;
}

header h1 span.label {
	font-size: 0.5em;
	vertical-align: middle;
	margin-top: -0.5em;
	display: inline-block;
}

.todo-title {
	font-weight: bold;
}

.todo-description {
	color: grey;
}

.todo-group {
	margin-bottom: 1em;
}
